/*============LIGHT============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --bg-content: #FFFFFF;
    --bg-card: #E1E1E6;
    --bg-card-selected: #02799D;
    --range-color: #323238;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background 200ms;
}

.content {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: var(--bg-content);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    transition: background 200ms;
}

.timer {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time {
    font-style: normal;
    font-weight: 500;
    font-size: 10rem;
    display: flex;
    align-items: center;
    line-height: 14.8rem;
    text-align: center;
    text-transform: uppercase;
}
.minutes,
.two-dots,
.seconds {
    color: #000000;
    transition: color 200ms;
}

.controls {
    width: 25rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hide {
    display: none;
}

.cards {
    width: 26rem;
    height: 26rem;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-template-areas: "A B""C D";
}

.card-forest,
.card-rain,
.card-coffeeshop,
.card-fireplace {
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2.4rem;
    background-color: var(--bg-card);
    transition: background 200ms;
}

.svg-forest,
.svg-rain,
.svg-coffeeshop,
.svg-fireplace {
    position: absolute;
    top: 1.25rem;
}

#range-forest,
#range-rain,
#range-coffeeshop,
#range-fireplace {
    position: absolute;
    width: 9rem;
    height: .4rem;
    bottom: 1.25rem;
}

.selected {
    fill: white;
    background-color: var(--bg-card-selected);
    transition: background 200ms;
}

/*=============MEDIA===============*/
@media (min-width: 1024px) {
    body {
        font-family: 'Roboto', sans-serif;
        height: 100vh;
        display: grid;
        place-content: center;
        transition: background 0.3s;
    }
    
    .content {
        position: relative;
        width: 128.0rem;
        height: 72rem;
        background: var(--bg-content);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: background 0.3s;
        gap: 19.2rem;
    }

    .mode-icon{
        position: absolute;
        top: 6rem;
        right: 6rem;
    }

    /* ============ TIMER ============ */
    .timer {
        width: 40rem;
        height: 21.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .time {
        font-style: normal;
        font-weight: 500;
        font-size: 12.62rem;
        display: flex;
        align-items: center;
        line-height: 14.8rem;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1.7rem;
    }

    .controls {
        width: 32.1rem;
        height: 4.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .hide {
        display: none;
    }

    /* ============ CARDS ============ */
    .cards {
        width: 30.8rem;
        height: 33.6rem;
        display: grid;
        gap: 3.2rem;
        grid-template-areas: "A B""C D";
    }

    .card-forest,
    .card-rain,
    .card-coffeeshop,
    .card-fireplace {
        width: 13.8rem;
        height: 15.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.2rem;
        border-radius: 2.4rem;
        background-color: var(--bg-card);
        transition: background-color 200ms;
    }
    
    .svg-forest,
    .svg-rain,
    .svg-coffeeshop,
    .svg-fireplace {
        position: absolute;
        top: 2.4rem;
    }

    #range-forest,
    #range-rain,
    #range-coffeeshop,
    #range-fireplace {
        position: absolute;
        width: 9rem;
        height: .4rem;
        bottom: 2.4rem;
    }

    .selected {
        fill: white;
        background-color: var(--bg-card-selected);
        transition: background-color 200ms;
    }
}

/*=============RANGE===============*/
.card-forest-controls,
.card-rain-controls,
.card-coffeeshop-controls,
.card-fireplace-controls {
    display: flex;
    position: relative;
    justify-content: center;
}

.card-forest,
.card-rain,
.card-coffeeshop,
.card-fireplace {
    position: relative;
}

input[type=range] {
    appearance: none;
    max-width: 90rem;
    background-color: transparent;
    transition: background 200ms;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: var(--range-color);
    border-radius: 4px;
    border: 0px solid;
    cursor: pointer;
    transition: background 200ms;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--range-color);
    border-radius: 16px;
    border: 0px solid var(--range-color);
    margin-top: -6px;/*(16px - 4px)/2*/
    cursor: pointer;
    transition: background 200ms;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    background: var(--range-color);
    border-radius: 4px;
    border: 0px solid;
    cursor: pointer;
    transition: background 200ms;
}

input[type=range]::-moz-range-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--range-color);
    border-radius: 16px;
    border: 0px solid var(--range-color);
    margin-top: -6px; /*(16px - 4px)/2*/
    cursor: pointer;
    transition: background 200ms;
}

.white {
    --range-color: white;
}

/*============DARK MODE============*/
.time-dark {
    color: #FFFFFF;
    transition: color 200ms;
}

.controls-dark {
    fill: #C4C4CC;
    transition: fill 200ms;
}

.cards-dark {
    fill: #C4C4CC;
    background-color: #29292E;
    transition: background-color 200ms;
}

.cards-selected-dark {
    fill: #FFFFFF;
    background-color: #0A3442;
    transition: background-color 200ms;
}